@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: poppins
}

body {
	background: rgba(30, 31, 36, 1);
}

#root {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

*::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

*::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

.content-grid {
	display: grid;
	grid-template-columns: 24rem 4rem 4rem 14rem 14rem;
	grid-template-rows: 12rem 14rem 12rem 20rem 20rem;
	grid-template-areas:
		'daily daily daily humidity humidity'
		'daily daily daily precipitaton uv-index'
		'daily daily daily visibility visibility'
		'hourly hourly-chart hourly-chart hourly-chart hourly-chart'
		'hourly daily-chart daily-chart daily-chart daily-chart';
}

@media (max-width: 90rem) {
	.content-grid {
		grid-template-columns: 16rem 16rem;
		grid-template-rows: 40rem 12rem 14rem 12rem 20rem 20rem 20rem;
		grid-template-areas:
			'daily daily'
			'humidity humidity'
			'precipitation uv-index'
			'visibility visibility'
			'hourly hourly'
			'hourly-chart hourly-chart'
			'daily-chart daily-chart'
	}
}

@media (max-width: 63rem) {
	.content-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media (min-width: 120rem) {
	.content-grid {
		grid-template-columns: 24rem 4rem 4rem 14rem 14rem 24rem;
		grid-template-rows: 14rem 14rem 14rem 24rem;
		grid-template-areas:
			'daily daily daily humidity humidity hourly'
			'daily daily daily precipitaton uv-index hourly'
			'daily daily daily visibility visibility hourly'
			'hourly-chart hourly-chart hourly-chart hourly-chart daily-chart daily-chart'
	}
}

.daily-display {
	grid-area: daily;
}

.humidity-display {
	grid-area: humidity;
}

.precipitation-display {
	grid-area: precipitaton
}

.uv-index-display {
	grid-area: uv-index;
}

.visibility-display {
	grid-area: visibility;
}

.hourly-forecast-display {
	grid-area: hourly;
}

.hourly-forecast-chart {
	grid-area: hourly-chart;
}

.daily-forecast-chart {
	grid-area: daily-chart;
}